body {
    margin-top: 2.5rem;
    background-color:rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 550px;
    height: 730px;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#header{
    background-color: #6943FF;
    margin: 0;
    width: 550px;
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#unit-section{
    margin-top: 0.75rem;
}
.unit-container{
    margin: 1.5rem 1.56rem;
    background-color: #273549;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 108px;
}

h1{
    margin: 2rem 0 2rem 0;
    font-size: 1.75em;
    font-weight: 800;
}
h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #CCC1FF;
    margin: 2rem 0 0.56rem 0;
}
p{
    font-size: 0.875em;
    font-weight: 400;
    margin: 0;
}

button{
    width: 117px;
    height: 42px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin: 25px 0 35px 0;
}
input{
    margin: 0;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    font-family: 'Inter', sans-serif;
    font-size: 3.625em;
    font-weight: 800;
    color: white;
    text-align: center;
}